
/*
Colors used:

*/
* {
  box-sizing: border-box;
}
body {
  background-color: #cccccc;
  font-family: 'Halant', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line height: 1.6;
  color: #466675
}

h1, h2, h3, h4 {
  line-height: 1.4
}
h1 {font-size: 2.75em;
font-weight: 700}

h2 {font-size: 2.25em;
font-weight: 600}

h3 {font-size: 1.75em;
font-weight: 500}

h4 {font-size: 1.35em;
font-weight: 400}

img {
  width: 100%;
}

a {
  color: #466675;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #466675;
}
a:active { /* selected link */
  color: #994c30;
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

header {
  background-color: #F9D7D1;
  padding: 10px;
  margin: 10px;
  border-bottom: 3px solid #466675;
  text-align: center;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(50, 50, 50, 0.95);
  -moz-box-shadow:    0px 2px 12px 0px rgba(50, 50, 50, 0.95);
  box-shadow:         0px 2px 12px 0px rgba(50, 50, 50, 0.95);
  position: relative;
}


.button {
  display: inline-block;
  background-color: #BAF5F4;
  color: #466675;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #466675;
  text-transform: uppercase;
  border: 2px solid #466675;
}

.button.contact:hover {
  background-color: #BAF5F4;
  color: #466675;
}


/* Layout styling */


.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#body h1 {
  text-align: center; /* Centers text */
}

.logo {
  text-align: center;
}

.logoimage{
  max-width: 250px;
  text-align: center;
}

#contact {
    text-align: center;
    background-color: #F9D7D1;
    padding: 20px 0;
    margin-top: 10px;
      display: inline-block;
      width: 100%;
        text-align: center;
  }


.linkedinlogo {
  padding-top: 15px;
}

/* navigation */
nav > ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

nav> ul> li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #466675;
}

nav > ul> li> a:visited {
  color: #6A8D9D;
}

/* hero */

#hero {
  background-color: #F9D7D1;
  padding: 20px 0;
    display: inline-block;
    width: 100%;
      text-align: center;
}
